/* Admin.css */
.table-container {
    margin-top: 20px;
    overflow-x: auto;
  }
  
  .prof-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .prof-table th, .prof-table td {
    padding: 10px;
    text-align: left;
  }
  
  .prof-table th {
    background-color: #f2f2f2;
  }
  
  .prof-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .prof-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .button-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-container .add-button {
    background-color: #007bff; /* Bleu */
  }
  
  .button-container .add-button:hover {
    background-color: #0056b3; /* Bleu foncé au survol */
  }
  
  .button-container .import-button {
    background-color: #28a745; /* Vert */
  }
  
  .button-container .import-button:hover {
    background-color: #218838; /* Vert foncé au survol */
  }
  
  .button-container .export-button {
    background-color: #ffc107; /* Jaune */
  }
  
  .button-container .export-button:hover {
    background-color: #e0a800; /* Jaune foncé au survol */
  }
  
  .button-container .logout-button {
    background-color: #dc3545; /* Rouge */
  }
  
  .button-container .logout-button:hover {
    background-color: #c82333; /* Rouge foncé au survol */
  }